.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.blue {
    background: #c2fdfd;
}

.blue-text {
    color: #000000;
}

.chocolate {
    background: chocolate;
}

.chocolate-text {
    color: pink;
}