.radio {
    appearance: none;
    height: 10px;
    width: 10px;
    
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    background-color: #97f5ee;
}

.radio:hover {
    border: 2px solid #67a8a3;
}

.radio:checked {
    background-color: #67a8a3;
}

.radio:focus {
    border: 2px solid #67a8a3;
}

.label {
    cursor: pointer;
}